header {
  padding-top: 24px;
  @include row;  
  a {
    color: $title-color;
  }
  .title {
    font-size: golden-ratio(1em, 2);
    font-weight: 700;
    text-align: center;
  }
 .logomark {
    height: 100px;
    margin: 0 auto;
    display: block;
  } 
}
