header {
  @include row;
  min-height: 96px;
  margin-bottom: 24px;
  padding: 24px;
  a {
    color: $text-color;
  }
  .title {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    
    @include span-columns(6);
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
    }
    a {
      display: inline-block;
      width: 100%;
      color: $title-color;
      @include transition(all 120ms ease-in-out);
      &:hover {
        opacity: 0.5;
        border-color: transparent;
      }
    }
  }
  nav {
    @include span-columns(6);
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
    }
    display: block;
    height: 48px;
    a {
      display: inline-block;
      margin-top: 24px;
      margin-right: 24px;
      padding: 4px;
      color: $title-color;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 4px solid transparent;
      @include transition (all 120ms ease-in-out);
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        border-color: $secondary-color;
      }
      
    }
  }

}