header {
  padding-top: 24px;
  @include row;  
  a {
    color: $title-color;
  }
  .title {
    font-size: golden-ratio(1em, 2);
    font-weight: 300;
    text-align: center;
  }
  .logomark {
    height: 36px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: 4px;
  } 
}
