.portfolio-item {
	@include pad(12px);
	@include media($desktop) {
		@include span-columns(4);
		@include nth-omega(3n);
	}
	position: relative;
  @include transition(120ms);

  &:hover,
  &:focus,
  &:active {
    @include transform(scale(1.05));
  }

	a {
		border: none;
	}
}

.portfolio-item-image {
	width: 100%;

  box-shadow: 0 0 24px rgba(black, .1);
}

.portfolio-item-heading {
  padding: 12px;

  text-align: center;

  h1,
  h2 {
    color: $primary-color;
    line-height: 24px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h2 {
    font-weight: 100;
    font-size: 18px;
  }

}
