.project {
  @include span-columns(4);
  @include omega(3n);
  @include transition(all 120ms ease-in-out);
  height: 480px;
  margin-bottom: 24px;
  a {
    color: $text-color;
  }
  &:hover {
    @include transform(scale(1.05));
    background: rgba(255,0,0,0.15);
  }

  &.old {
    h1, h2 {
      color: rgba($text-color, 0.5);
    }
    p {
      color: rgba($text-color, 0.5);
    }
  }
  h1,h2 {
    text-align: center;
    margin-bottom: 0;
  }

  h1 {
    margin-top: 24px;
  }

  h2 {
    font-size: 12px;
    font-weight: 100;
  }

  img {
    max-height: 180px;
    display: block; 
    margin: 0 auto 24px;
    @include transition(all 120ms ease-in-out);
  }

  p {
    @include transition(all 120ms ease-in-out);
    padding: 0 24px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;

  }
}