$background-color: #30303F;
$primary-color: #FF8F8F;
$link-color: $primary-color;
$secondary-color: #f1c40f;
$primary-grayscale: grayscale($primary-color);
$text-color: #EFEFEF;
$title-color: #EFEFEF;
$border-color: rgba($text-color, 0.2);

$base-font-size: 16px/1em;

$desktop: new-breakpoint(min-width 769px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
