@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';


@import 'slabtext';
@import 'header';
@import 'footer';
@import 'projects';



* { margin: 0; box-sizing: border-box }

html, body {
  height: 100%; 
}
::selection {
  background-color: $primary-color;
  color: white;
}

body {
  background: $background-color;
  background-size: cover;
  border-top: 12px solid $primary-color;

}
// Layout

.container {
  @include outer-container;
}

.inner-wrapper {
  @include fill-parent;
  padding: 24px;
}

.action-container {
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 96px;
  text-align: center;
  @include media($tablet) {
    border: none;
    margin: 0;
    border-radius: 0;
  }
}
