@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';

@import 'slabtext';
@import 'header';
@import 'footer';
@import 'projects';



* { margin: 0; box-sizing: border-box }

html, body {
  height: 100%;
}

body {
  background: rgb(255,255,235);
}
// Layout

.container {
  @include outer-container;
}

.main {
  @include outer-container;
}


.hero-unit-wrapper {
  background: url(asset_path('hero-unit-background.png'));
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 4px;
  background-size: cover;
  @include media($tablet) {
    border-radius: 0;
  }
}
.hero-unit {
  @include span-columns(8);
  @include shift(2);
  color: white;
  @include media($tablet) {
    @include fill-parent;
    @include shift(0);
  }
  padding: 24px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 700;
    @include transition (all 120ms ease-in-out);
    .amp {
      color: $secondary-color;
    }
  }
  img {
    display: block;
    margin: 0 auto 24px;
  }

  p {
    font-weight: 100;
  }

}

.about-container {
  @include row;
}

.about {

  border-top: 12px solid $primary-color;
  background: lighten($primary-color, 25%);
  margin-bottom: 12px;
  @include span-columns(4);
  border-radius: 4px;
  
  @include media($tablet) {
    @include fill-parent;
    border-radius: 0;
  }
  p {
    font-weight: 100;
    font-size: 18px;
    padding: 24px;
  }
  h1 {
    text-align: center;
    }
  img {
    display: block;
    margin: 0 auto 24px;
  }
}

.action-container {
  padding: 24px;
  margin-top: 24px;
  text-align: center;
  @include media($tablet) {
    border: none;
    margin: 0;
    border-radius: 0;
  }
}