@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';


@import 'slabtext';
@import 'header';
@import 'footer';
@import 'container';
@import 'projects';
@import 'portfolio';
@import 'book';



* { margin: 0; box-sizing: border-box }

html, body {
  height: 100%; 
}
::selection {
  background-color: $primary-color;
  color: white;
}

body {
  background: $background-color;
  background-size: cover;
  border-top: 12px solid $primary-color;

}
